<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example App</title>
	<script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
	<script>
		io = io.connect();

		io.on('initialImages',function(data){
			console.log('InitialImages');
			console.log(data.length);
			for (var i=0; i<data.length; i++) {
				prepend(data[i].url);
			}
		});

		io.on('newImage',function(data){
			console.log('new Image');
			console.log(data);
			prepend(data.url);
		});

		function prepend(url) {
			if (url !== null) {
				var imgnode = document.createElement('img');
				imgnode.setAttribute('src', url);
				var photos = document.getElementById('photos');
				photos.insertBefore(imgnode, photos.childNodes[0]);
			}
		};
	</script>
</head>
<body>

	{{{body}}}

</body>
</html>
